table.wp-list-table {
	
	.column-color,
	.column-image,
	.column-label {
		width: 52px;
		text-align: center;
		white-space: nowrap;
	}

	.column-color {
		span {
			display: inline-block;
			border: 1px solid #ddd;
			width: 30px;
			height: 16px;
		}
	}
}

.swatch-preview {
	width: 44px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	font-weight: 700;
	border: 1px solid #ccc;
}

.mas_wcvs-modal-container {
	position: relative;
	display: none;
}

.mas_wcvs-modal {
	transform: translate(-50%, -50%);
	position: fixed;
	top: 50%;
	left: 50%;
	width: 360px;
	max-width: 90%;
	z-index: 159990;
	background-color: #fcfcfc;
}

.mas_wcvs-modal input.error {
	border-color: #dc3232;
}

.mas_wcvs-modal-header,
.mas_wcvs-modal-content,
.mas_wcvs-modal-footer {
	padding: 20px;
}

.mas_wcvs-modal-header {
	padding-top: 0;
	padding-bottom: 0;
}

.mas_wcvs-modal-content {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}

.mas_wcvs-modal-footer {
	text-align: right;
}

.mas_wcvs-modal-footer .message,
.mas_wcvs-modal-footer .spinner {
	float: left;
}

.mas_wcvs-modal-footer .message.error {
	color: #dc3232;
}

.mas_wcvs-modal-footer .message.success {
	color: #46b450;
}
