.hidden {
	display: none !important;
}

.mas-wcvs-swatches {
	overflow: hidden;
	padding: 5px;
	
	.mas-wcvs-swatch {
		line-height: 30px;
		text-align: center;
		margin-right: 15px;
		cursor: pointer;
		border: 1px solid transparent;
		position: relative;
		opacity: 0.5;

		&.selected {
			opacity: 1;
		}

		&.disabled {
			opacity: 0.1;
		}

		&.swatch-color {
			span {
				border-radius: 50%;
				display: inline-block;
				width: 30px;
				height: 30px;
				text-indent: -9999px;
			}

			&.selected {
				span {
					box-shadow: 0 0 5px;
					
					&:before {
						content: "";
						width: 6px;
						height: 10px;
						display: block;
						border: solid #fff;
						border-width: 0 2px 2px 0;
						position: absolute;
						left: 50%;
						top: 42%;
						transform: translate(-50%, -50%) rotate(45deg) ;
					}
				}
			}
		}

		&.swatch-label,
		&.swatch-image {
			display: inline-block;
			width: 30px;
			height: 30px;
			
			&.selected {
				border-color: #999;
				box-shadow: 0 0 5px;
			}
		}
		
		&.swatch-label {
			overflow: hidden;
		}

		&.swatch-image {
			background-color: #f1f1f1;
		}
	}
}

.mas_wcvs_widget_layered_nav {
	ul.swatches {
		display: flex;
		flex-wrap: wrap;

		li {
			line-height: 30px;
			text-align: center;
			margin-right: 15px;
			cursor: pointer;
			border: 1px solid transparent;
			padding: 0;
			
			a {
				text-decoration: none !important;
			}
			
			&:before {
				content: none;
			}

			&.swatch-color {
				position: relative;
				
				a > span,
				> span:not(.count) {
					border-radius: 50%;
					display: inline-block;
					width: 30px;
					height: 30px;
					text-indent: -9999px;
				}
				
				&.chosen {
					a > span,
					> span:not(.count) {
						box-shadow: 0 0 5px;

						&:before {
							content: "";
							width: 6px;
							height: 10px;
							display: block;
							border: solid #fff;
							border-width: 0 2px 2px 0;
							position: absolute;
							left: 50%;
							top: 42%;
							transform: translate(-50%, -50%) rotate(45deg) ;
						}
					}
				}
			}

			&.swatch-label,
			&.swatch-image {
				width: 30px;
				height: 30px;

				&.chosen {
					border-color: #999;
					box-shadow: 0 0 5px;
				}
			}

			&.swatch-label {
				overflow: hidden;
			}

			&.swatch-image {
				background-color: #f1f1f1;
			}

			.count {
				display: none;
			}
		}
	}
}

.products {
	.product {
		.tawcvs-swatches {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 10px;

			.swatch {
				width: 15px;
				height: 15px;
				margin-right: 11px;
			}

			.swatch-color.selected:before {
				top: 3px;
				left: 3px;
				border: 0;
				background-color: #fff;
				border-radius: 50%;
				width: 7px;
				height: 7px;
			}
		}

		.swatches-support {
			.woocommerce-variation-add-to-cart {
				display: flex;
				flex-direction: column;
				align-items: center;

				.quantity {
					margin-bottom: 10px;
				}

				.single_add_to_cart_button {
					width: auto;
				}
			}
		}
	}
}
